<!DOCTYPE html>
<html lang="en" class="full-height">
<head>
    <meta charset="UTF-8">
    <title>Type Definition Importer for Scala.js</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.5/dist/semantic.min.css">
    <link rel="stylesheet" href="site.css">
</head>
<body class="full-height">

<div id="app" class="full-height">
    <div class="ui left fixed vertical red inverted menu" id="toc">
        <div class="item">
            <h1 class="ui inverted large header">
                Type Definition Importer for Scala.js
            </h1>
        </div>
        <div class="item">
            <div class="header">
                Examples
            </div>
            <div class="vertical menu">
                <a class="item" v-for="sample in samples" v-on:click="loadSample(sample)">{{sample.label}}</a>
            </div>
        </div>
        <div class="item">
            <div class="header">Notes</div>
            <div class="vertical menu">
                <div class="item">Manual editing is often needed, since the type system offered by TypeScript and Scala differ in subtle ways. </div>
            </div>
        </div>
        <a class="item" href="https://github.com/exoego/scala-js-ts-importer/tree/web-app">Github <i class="github alternate icon"></i></a>
        <a class="item" href="https://twitter.com/exoego">Web App by @exoego<i class="twitter icon"></i></a>
        <a class="item" href="https://www.exoego.net/">on exoego.net <i class="home icon"></i></a>
        <a class="item" href="https://scala-lang.org/license/">under the Scala License <i class="external icon"></i></a>
    </div>

    <main class="full-height">
        <div class="ui fluid container full-height" >
            <div class="ui basic segment" id="configuration">
                <h5 class="ui header">Configuration</h5>
                
                <div class="ui grid">
                    <div class="two column row">
                        <div class="column">
                            <div class="ui labeled fluid input">
                                <div class="ui label">
                                    package
                                </div>
                                <input placeholder="foo.bar" type="text" v-model="input.outputPackage">
                            </div>
                        </div>
                        <div class="column">
                            <div class="ui checkbox">
                                <input type="checkbox" v-model="input.generateFactory">
                                <label>Generate trait's factory method in companion object</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui basic segment full-height" id="editor">
                <div class="ui dimmer" :class="{'active': isLoading}">
                    <div class="ui text loader">Importing</div>
                </div>

                <div class="ui form full-height">
                    <div class="two fields full-height">
                        <div class="field full-height">
                            <h1 class="ui header">
                                <img class="ui big image" src="src/main/resources/icon-typescript.png" >
                                <div class="content">
                                    TypeScript
                                    <div class="sub header">Put some type description files (*.d.ts).</div>
                                </div>
                            </h1>
                            <textarea class="code "
                                      placeholder="export const FOO: number;"
                                      rows="30"
                                      v-model="input.source"
                                      v-on:keyup.enter="translate"
                                      v-on:change="translate"
                            ></textarea>
                        </div>
                        <div class="field full-height" :class="{'error': output.hasError, 'success': !output.hasError}">
                            <h1 class="ui header">
                                <img class="ui big image" src="src/main/resources/icon-scalajs.png"  />
                                <div class="content">
                                    Scala.js
                                    <div class="sub header">Get the results.</div>
                                </div>
                            </h1>
                            <textarea class="code"
                                      rows="30" readonly
                                      placeholder="..."
                                      v-model="output.text"
                            ></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
<script src="src/main/resources/scala-js-ts-importer-opt.js"></script>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-7673851-1']);
    _gaq.push(['_trackPageview']);
    (function(doc){
        var ga=doc.createElement('script');ga.type='text/javascript';ga.async=true;
        ga.src=location.protocol+'//www.google-analytics.com/ga.js';
        doc.getElementsByTagName('head')[0].appendChild(ga);
    })(document);
</script>
<script>
    Main.main();
</script>
</html>
